/* Make the logo look nice with dark background */
.site-logo {
    max-height: 140px;
    transform: contrast(0.1) grayscale(1) brightness(10);
}
.site-header::before {
    background: rgba(0, 0, 0, 0.4);
}
